.home-container {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 100px;
}

.home-content {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-page {
    margin: 0.2rem;

    min-width: 30px;
    min-height: 25px;

    border-style: none;
    border-radius: 5px;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

footer {
    display: flex;
    flex-wrap: wrap;


    justify-content: center;

    padding-inline: 3rem;

    margin-top: 3rem;
    margin-bottom: 5rem;
}

.link {
    margin: 1rem;
}

input {
    padding-inline: 1.5rem;

    width: 40%;
    height: 40px;

    border-radius: 20px;

    background-color: #d5d5d5;

    border-style: none;

    font-family: 'Baloo 2', cursive;
}
